# This file is a configuration for Kafka consumer start options per partition
# Each line is a set of start options separated with colon (':') in next format:
# ${default|partition_number}:${start_option}:${custom_start_offset}
# default - default option for all partitions assigned to Kafka consumer
# partition_number - is an integer value of partition
# start_option - is a start option from where the message fetching should happen in Kafka Consumer
# Values can be: CUSTOM / EARLIEST / LATEST / RESTART.
# CUSTOM:    Message from the specified offset in Kafka will be read
# EARLIEST:  Messages from the earliest available offset in kafka will be read (seekToBeginning)
# LATEST:    Messages from the latest available offset in kafka will be read (seekToEnd)
# RESTART:   Message reading will happen from the Offset where the last cycle of reading by this client has stopped
# Default: RESTART - applied automatically for each partition if not overrided by this file. So it's not mandatory to specify this option for n partitions
# Default option can be overrided too (e.g. default:EARLIEST)
# custom_start_offset - long value of the offset from where the message processing should happen. Used in conjunction with CUSTOM start option, no default value specified

# Examples:
# default:LATEST
# 0:LATEST
# 1:CUSTOM:10358
# 5:EARLIEST

default:RESTART